.mobile {
    display: none;
}

.tab {
    display: none;
}

.non-mobile {
    display: flex;
}

.grey-card {
    padding: 0px 0px 0px 80px;
    background-color: #222222;
}

.gbr {
  width: 100%;
  height: auto;
}

.imagee {
  width: 100%;
  height: auto;
}

.card1 {
    background-color: #964B00;
    width: 100%;
    height: 100%;
    padding: 3px 0px;
}

.card2 {
    background-color: #735F32;
    width: 100%;
    height: 100%;
    padding: 3px 0px;
}

.card3 {
    background-color: #301E67;
    width: 100%;
    height: 100%;
}

#margin {
    position: relative;
    top: -20px;
    z-index: 2;
}

#margin1 {
    margin-top: -80px;
}

#white-card1 {
    padding: 100px 80px;
    background-color: white;
    height: 100%;
}

#white-card2 {
    padding: 100px 80px;
    background-color: white;
    height: 100%;
}

#white-card3 {
    padding: 100px 80px;
    background-color: white;
    height: 100%;
}

#white-card4 {
    padding: 150px 80px;
    background-color: white;
    height: 100%;
}

.bluecard {
    display: flex;
    width: 600px;
    height: 455px;
    padding: 0px 104.672px;
    justify-content: center;
    align-items: center;
    background: #301E67;
    z-index: 2;
}

.orangecard {
    display: flex;
    width: 600px;
    height: 455px;
    padding: 0px 104.672px;
    justify-content: center;
    align-items: center;
    background: #964B00;
    z-index: 2;
}

.browncard {
    display: flex;
    width: 600px;
    height: 480px;
    padding: 0px 104.672px 50px 104.672px;
    justify-content: center;
    align-items: center;
    background: #735F32;
    z-index: 3;
}

.highlited {
    color: #C1905e;
    font-size: 40px;
    font-weight: 700;
}

.three-btn {
    background-color: #C1905E;
    padding: 12px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
}

.three-btn:hover {
    background-color: #907854;
}

.single-btn {
    width: 33%;
    padding: 12px 22px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid var(--color-text-dark-mode-100, #FFF);
    color: white;
}

.single-btn:hover {
  background-color: transparent;
  cursor: pointer;
  color: #B2B2B2;
  border: 2px solid #B2B2B2;
}

.order-btn {
    background-color: #C1905E;
    padding: 12px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
    width: 40%;
}

.order-btn:hover {
    background-color: #907854;
}

.non-mobile {
    display: flex;
}

.mobile {
    display: none;
}

.hiden {
    display: none;
}

.hide-from-tab {
    display: flex;
}

.showon-tab {
    display: none;
}

@media screen and (max-width: 1000px) {
    .header-card {
        padding: 20px;
        background-color: #222222;
    }

    .mobile {
        display: none;
    }

    .non-mobile {
        display: flex;
    }

    .tab {
        display: flex;
    }

    .hiden {
        display: flex;
    }

    .showon-tab {
        display: flex;
    }

    .bluecard {
        padding: 20px;
        background: #301E67;
        width: 100px;
    }
    
    .orangecard {
        padding: 20px;
        background: #964B00;
        width: 100px;
    }

    .browncard {
        padding: 20px;
        background: #735F32;
        width: 100%;
    }

    .transparentcard {
        padding: 20px;
        background: transparent;
        width: 100%;
    }

    .order-btn {
        background-color: #C1905E;
        padding: 12px 22px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        text-align: center;
        margin-right: 20px;
        width: 80%;
    }

    .single-btn {
        width: 200px;
        padding: 12px 22px;
        text-align: center;
        border-radius: 10px;
        border: 2px solid var(--color-text-dark-mode-100, #FFF);
        margin-bottom: 20px;
    }

    .three-btn {
        background-color: #C1905E;
        padding: 12px 22px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 10px;
        width: 250px;
    }

    .tab {
        display: none;
    }

    .hide {
        display: none;
    }

    .hide-from-tab {
        display: none;
    }

    #white-card1 {
        padding: 100px 20px 100px 20px;
        background-color: white;
        height: 100%;
    }

    #white-card2 {
        padding: 60px 50px 60px 20px;
        background-color: white;
        height: 100%;
    }

    
    #white-card3 {
        padding: 100px 20px 100px 20px;
        background-color: white;
        height: 100%;
    }
    
    #white-card4 {
        padding: 170px 40px 170px 20px;
        background-color: white;
        height: 100%;
    }
    
    .image-tab {
        height: auto;
        width: 300px;
    }

    .grey-card {
        padding: 20px 20px 0px 20px;
        background-color: #222222;
    }

    .desc {
        margin-right: 0px 0px 0px 0px;
    }

}

@media screen and (max-width: 600px) {
    .non-mobile {
        display: none;
    }

    .mobile {
        display: flex;
    }

    .tab {
        display: flex;
    }
    
    .h1 {
        color: var(--color-text-dark-mode-100, #FFF);
        text-align: justify;
        font-family: Rubik;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 81px; /* 126.563% */
        letter-spacing: -2.16px;
        }
    
    .highlited {
        color: var(--color-primary-400, #C1905E);
        font-family: Rubik;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 81px;
        letter-spacing: -2.16px;
    }

    .small {
        color: var(--color-text-dark-mode-200, #E5E5E5);
        text-align: justify;
        font-family: Rubik;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    .three-btn {
        background-color: #C1905E;
        padding: 12px 22px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 20px;
        width: 80%;
    }

    .image {
        height: auto;
        width: 10px;
    }

    .image1 {
        height: auto;
        width: 100%;
    }

    .text {
      padding-right: 20px;
    }

    .grey-card {
      padding: 20px 0px 0px 20px;
      background-color: #222222;
  }

    .single-btn {
        width: 60%;
        padding: 12px 22px;
        text-align: center;
        border-radius: 10px;
        border: 2px solid var(--color-text-dark-mode-100, #FFF);
    }

    .bluecard {
        display: flex;
        width: 100%;
        height: 480px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        background: #301E67;
        z-index: 3;
    }

    .browncard {
        display: flex;
        width: 100%;
        height: 480px;
        padding: 20px;
        justify-content: center;
        align-items: center;
        background: #735F32;
        z-index: 3;
    }
    
    .orangecard {
        display: flex;
        width: 100%;
        height: 480px;
        padding: 20px;
        justify-content: center;
        align-items: center;
        background: #964B00;
        z-index: 3;
    }

    
    #white-card1 {
        padding: 40px 20px;
        background-color: white;
        height: 100%;
    }
    
    #white-card2 {
        padding: 40px 20px;
        background-color: white;
        height: 100%;
    }
    
    #white-card3 {
        padding: 40px 20px;
        background-color: white;
        height: 100%;
    }
    
    #white-card4 {
        padding: 40px 20px;
        background-color: white;
        height: 100%;
    }

    .order-btn {
        background-color: #C1905E;
        padding: 12px 22px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        text-align: center;
        margin-right: 20px;
        width: 58%;
    }

    .tab {
        display: none;
    }

    .hiden {
        display: none;
    }

    .hide-from-tab {
        display: none;
    }

    .showon-tab {
        display: none;
    }
}

body{
    max-width: 100%;
    overflow-x: hidden;
    font-family: Rubik;
  }
  
  /* Navbar */
  nav{
    display: flex;
    padding: 30px 70px;
    background-color: #222222;
    justify-content: space-between;
    }
  
  nav ul {
    display: flex;
    gap: 30px;
  }
  
  .mobel {
    padding: 0;
    display: block;
  }
  
  nav ul a {
    color: #e5e5e5;
    text-decoration: none;
    font-size: 16;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    white-space: nowrap;
  }
  
  .mobal {
    margin: 30px 0px;
    display: block;
    color: #e5e5e5;
    text-decoration: none;
    font-size: 16;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    white-space: nowrap;
  }
  
  nav ul a:hover {
    font-weight: bold;
    color: white;
  }
  
  .mobal:hover {
    font-weight: bold;
    color: white;
  }
  
  .login-btn {
    border-radius: 10px;
    border: 2px solid white;
    padding: 12px 22px;
    color: white;
    width: max-content;
  }
  
  
  .signup-btn {
    border-radius: 10px;
    background-color: #C1905E;
    padding: 12px 22px;
    color: white;
  }
  
  .login-btn:hover {
    background-color: transparent;
    cursor: pointer;
    color: #B2B2B2;
    border: 2px solid #B2B2B2;
  }
  
  .signup-btn:hover {
    background-color: #907854;
    cursor: pointer;
    color: #FFFFFF;
  }
  
  .togele{
    display: none;
  }
  /* Navbar End */

  /* Card Footer */
.footer-card {
  padding: 20px;
  background-color: #2B2B2B;
}

.footer {
  height: 100%;
  background-color: #2B2B2B;
  padding: 70px;
  display: flex;
}

div.row a {
  width: auto;
}

.logo {
  width: 100%;
}

.build {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

@media only screen and (min-width: 1200px) {
  .list-foot {
    gap: 15px;
  }
}

@media only screen and (max-width: 1199px) {
  .find-us {
    margin-top: 15px;
  }

  .frame-location {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
  }
}



.frame-footer {
  left: 492px;
  display: flex;
  justify-content: space-between;
  width: auto;
  height: auto;
  gap: 30px;
}

.product {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.list-p {
  width: 72px;
}

div.list-p p {
  margin-bottom: 6px;
}

.foot-company {
  margin-right: 0;
}

.company {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF; 
}

.list-c {
  width: 108px;
}

div.list-c p {
  margin-bottom: 6px;
}

.foot-account {
  margin-right: 0;
}

.account {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-left: 0;
}

.list-a {
  width: 102px;
  margin-left: 0;
}

div.list-a p {
  margin-bottom: 6px;
}

.find-us {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-left: 0;
}

.list-f {
  margin-left: 0;
  width: 301px;
}

div.list-f p {
  margin-bottom: 6px;
}

.location {
  width: auto;
  height: 92px;
  border-radius: 10px;
  margin-left: 0px;
  float: right;
}

div p a {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #B2B2B2;
}

div p a:hover {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.f-footer {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #B2B2B2;
}

.frame-loc {
  gap: 20px;
}
/* card footer end */


/* Laptop L */
@media only screen and (min-width: 928px) and (max-width: 1023px){
    nav{
    padding: 30px 20px;
    }

    div.frame-footer div.col-lg-2 div.col-lg-4 {
      width: auto;
    }
}

/* Laptop */
@media only screen and (min-width: 900px) and (max-width: 927px){
    nav{
      padding: 30px 20px;
    }
  
    nav ul {
      gap: 20px
    }
}

/* Tablet, HP */
@media only screen and (max-width: 899px){

    nav{
      padding: 30px 20px;
    }
  
    .togele{
      display: flex;  
    } 
  
    .desktop{
      display: none;
    }
}

@media only screen and (max-width: 375px) {

}

@media only screen and (min-width: 1024px) {
  .footer {
    padding: 70px;
    gap: 20px;
  }
}

@media only screen and (max-width: 1023px) {
  .footer {
    padding: 30px 20px;
    gap: 20px;
  }
}



/* @media only screen and (min-width: 1024px) and  (max-width: 1250px) {
  .footer {
    padding: 30px 70px;
  }

  .frame-list-foot {
    gap: 30px;
  }

  .frame-footer {
    display: grid;
    gap: 40px;
  }
}



@media only screen and (min-width: 453px) and (max-width: 899px) {
  .footer {
    padding: 30px 20px;
    gap: 30px;
  }

  .frame-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .frame-list-foot {
    width: 100%;
    justify-content: space-between;
  }

  .frame-loc {
    width: 100%;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 452px) {
  .footer {
    padding: 30px 20px;
    gap: 30px;
  }

  .frame-footer {
    gap: 30px;
    display: flex;
    flex-direction: column;
  }

  .frame-list-foot {
    display: flex;
    flex-direction: column;
  }

  .frame-loc {
    display: flex;
    flex-direction: column;
  }

  .location {
    float: left;
  }
} */

@media only screen and (min-width: 1200px) and (max-width: 1248px) {

}

@media only screen and (min-width: 729px) and (max-width: 1199px) {

}
/* 
@media only screen and (max-width: 900px) {
  .ganggu {
    white-space: normal;
  }
} */